name: CI/CD Pipeline
on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  tests:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: '11'
      - name: Cache Maven packages
        uses: actions/cache@v1
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Run Tests
        run: mvn -B test
  build:
    needs: tests
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: '11'
      - name: Cache Maven packages
        uses: actions/cache@v1
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Build with Maven
        run: mvn -B package -DskipTests --file pom.xml
      - name: Upload JAR
        uses: actions/upload-artifact@v2
        with:
          name: heyduedate-api
          path: heyduedate-api/target/heyduedate-api-1.0-SNAPSHOT.jar

      - name: Install Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 16.13.0
      - name: Install NPM packages
        run: npm ci
        working-directory: heyduedate-react
      - name: Build project
        run: REACT_APP_API_URL=${{ secrets.API_URL }} npm run build
        working-directory: heyduedate-react
      #- name: Run tests
      #  run: npm run test
      #  working-directory: heyduedate-react
      - name: Upload production-ready build files
        uses: actions/upload-artifact@v2
        with:
          name: heyduedate-react
          path: ./heyduedate-react/build

  deploy:
    needs: build
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Download JAR
        uses: actions/download-artifact@v2
        with:
          name: heyduedate-api
      - name: Deploy to API Artifact
        uses: einaregilsson/beanstalk-deploy@v13
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          use_existing_version_if_available: true
          application_name: hey-duedate-api
          environment_name: Heyduedateapi-env
          version_label: ${{github.SHA}}
          region: ${{ secrets.AWS_REGION }}
          deployment_package: heyduedate-api-1.0-SNAPSHOT.jar

      - name: Download React Artifact
        uses: actions/download-artifact@v2
        with:
          name: heyduedate-react
      - name: Deploy to S3
        uses: jakejarvis/s3-sync-action@master
        with:
          args: --acl public-read --delete
        env:
          AWS_S3_BUCKET: ${{ secrets.AWS_PRODUCTION_BUCKET_NAME }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
          SOURCE_DIR: "."